span{
    margin-left: 15px;
    margin-bottom: 15px;
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: white;
    padding-bottom: 25px;
}
img{
    height:300px;
    width:300px;
    text-align: center;
}
html{
    text-align: center;
}
#location iframe{
    width:100%;
}
#question iframe{
    width: 100%;
}
html {
  scroll-behavior: smooth;
}
footer{
    text-align: center;
    opacity: 60%;
